  html {
    font-weight: 300;
    font-size: 1.2em;
    text-rendering: optimizeLegibility;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    padding: 20px;
    text-align: center;
  }
  
  img {
    object-fit: contain;
    max-width: 100%;
    height: auto;
  }
  
  .img-logo {
    width: 150px;
    height: auto;
    margin-top: 20px;
  }
  
  .section-1, .section-2, .section-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  footer {
    width: 100%;
    text-align: center;
    padding: 20px;
  }
  
  .img-footer {
    width: 100px;
    height: auto;
  }
  
  /* Media Queries */
  
  @media only screen and (max-width: 768px) {
    aside {
      flex-basis: 100%;
    }
  }
  
  @media only screen and (max-width: 480px) {
    html {
      font-size: 1em;
    }
    .img-logo {
      width: 100px;
      height: auto;
    }
    .img-footer {
      width: 70px;
      height: auto;
    }
  }
  
  